@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=PT+Sans:wght@700&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
h1 {
  display: none;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
body ::-webkit-scrollbar {
  width: 2px;
}
body ::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
body ::-webkit-scrollbar-thumb {
  background-color: #333333;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  font-size: 12px;
  z-index: 100;
  font-weight: 400;
}
.header__top {
  position: relative;
  height: 37px;
  background-color: #0c1111;
  padding: 5px 0px;
  color: #e0e0e0;
  z-index: 99;
}
.header__top a {
  color: #e0e0e0;
}
.header__info {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.header__location {
  display: flex;
  height: 100%;
  line-height: 27px;
  align-items: baseline;
}
.header__logo {
  margin-left: 1px;
  width: 195px;
}
.header__navigations {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 36px;
}
.header__basic {
  height: 92px;
  z-index: 99;
}
.header__basic_container {
  display: flex;
  flex-direction: column;
}
.header__bottom {
  display: flex;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 600;
  color: #0c1111;
  overflow: hidden;
}
.header__burger {
  display: flex;
  order: -1;
  align-items: center;
  width: 32px;
  height: 22px;
  margin-right: 23px;
  flex: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}
.header__burger:active span::before {
  transform: translateY(5px);
}
.header__burger:active span::after {
  transform: translateY(-5px);
}
.header__burger span,
.header__burger span::before,
.header__burger span::after {
  width: 100%;
  height: 3px;
  background-color: #000000;
  border-radius: 2px;
  transition: 0.3s;
}
.header__burger span::before,
.header__burger span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.header__burger span::before {
  top: 0;
}
.header__burger span::after {
  bottom: 0;
}
.header__burger_close {
  margin: 0 27px 0 -4px;
}
.header__burger_close span {
  background-color: rgba(255, 255, 255, 0) !important;
}
.header__burger_close span::before,
.header__burger_close span::after {
  padding-left: 2px;
  background-color: #f84445 !important;
}
.header__burger_close span::after {
  transform: rotate(-135deg);
  bottom: 10px;
}
.header__burger_close span::before {
  transform: rotate(135deg);
  top: 9px;
}
.header__links {
  display: flex;
  position: relative;
  height: 16px;
  overflow: hidden;
  gap: 29px;
}
.header__links_wrap {
  flex-wrap: wrap;
}
.header__links_right {
  padding-left: 16px;
  flex: none;
  margin: 0 4px 0 auto;
}
.header__link {
  display: flex;
  position: relative;
  overflow: hidden;
  color: #0c1111;
  height: 16px;
  line-height: 16px;
}
.header__link_red {
  color: #f66;
}
.header__link:hover span {
  transform: translateY(100%);
}
.header__link span {
  position: relative;
  transition: all 0.35s ease;
}
.header__link:hover::before {
  transform: translateY(100%);
}
.header__link::before {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
  transition: all 0.35s ease;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header__panel {
  height: 44px;
  display: flex;
  align-items: center;
}
.header__search {
  border-radius: 10px;
  width: 659px;
  flex: 0 1 auto;
  height: 40px;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  margin: 0 16px;
  transition: 0.3s;
}
.header__search:hover,
.header__search :focus {
  border: 1px solid #333333;
  background-color: #333333;
}
.header__actions {
  display: flex;
}
.header__sign-in {
  width: 100px;
  height: 40px;
  margin-right: 16px;
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 16px;
  font-size: 12px;
  color: #333333;
  border: 1px solid #f2f3f5;
  transition: all 0.5s ease;
}
.header__sign-in:hover,
.header__sign-in :active,
.header__sign-in :focus {
  border: 1px solid #27ae60;
}
.header__sign-in_out:hover,
.header__sign-in_out :active,
.header__sign-in_out :focus {
  border: 1px solid #f66;
}
.header .sign-in {
  overflow: hidden;
}
.header .sign-in__icon {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 6px;
  border-radius: 100%;
  border: 1.5px solid #000000;
  background-color: #fff;
  transition: all 0.5s ease;
}
.header .sign-in__icon::before {
  content: "Выход";
  position: absolute;
  height: 16px;
  line-height: 16px;
  right: 36px;
}
.header .sign-in__icon::after {
  content: "Вход";
  position: absolute;
  height: 16px;
  line-height: 16px;
  left: 36px;
}
.header .sign-in__icon_false {
  transform: translateX(54px);
}
.header .sign-in__img {
  width: 100%;
  height: 100%;
}

.search__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.search__input {
  width: 100%;
  font-size: 14px;
  padding-left: 27px;
  background-color: #fff;
}
.search__input:hover, .search__input:active, .search__input:focus {
  background-color: #fff;
}
.search__btn {
  justify-content: center;
  align-items: center !important;
  width: 98px;
  background-color: rgba(255, 255, 255, 0);
}
.search__modal {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  max-height: 670px;
  background-color: #ffffff;
  top: 46px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.search__show-more {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #f2f3f5;
}
.search__show-more_btn {
  display: flex;
  width: 273px;
  height: 48px;
  line-height: 48px;
  margin: 14px auto;
  justify-content: center;
}
.search__results {
  width: 100%;
  height: 100%;
  padding: 34px 34px 0;
  overflow: auto;
  font-size: 16px;
  color: #333333;
}
.search__categories {
  margin-bottom: 32px;
}
.search__title {
  font-weight: 700;
}
.search__category {
  display: flex;
  line-height: 50px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  align-items: baseline;
}
.search__category svg {
  margin-right: 6px;
}
.search__category:hover,
.search__category :focus {
  transition: all 0.3s ease-out;
  background-color: #f2f3f5;
  box-shadow: inset 0px 20px 20px 13px white;
}
.search__sections {
  margin-bottom: 33px;
}
.search__sections h4 {
  margin-bottom: 6px;
}
.search__product {
  display: flex;
  align-items: center;
  padding: 6px 0 8px;
  border-bottom: 1px solid #ececec;
}
.search__product_img {
  flex: none;
  width: 52px;
  height: 50px;
  background-color: #f2f3f5;
}
.search__product_text {
  flex: 1 1 auto;
  overflow: hidden;
  margin-left: 16px;
  font-size: 14px;
  line-height: 20px;
}
.search__product_price {
  flex: 0 0 auto;
  font-weight: 700;
  letter-spacing: 0.32px;
}
.search__product:hover,
.search__product :focus {
  transition: all 0.3s ease-out;
  transform: scale(1.03);
}

.footer {
  position: relative;
  background-color: #0c1111;
  color: #ffffff;
  font-weight: 400;
}
.footer h2 {
  font-weight: 700;
  font-size: 24px;
}
.footer h3 {
  font-weight: 700;
  font-size: 18px;
}
.footer_link a {
  color: #ffffff;
}
.footer__info {
  padding: 80px 0 56px;
}
.footer__blocks {
  display: grid;
  gap: 37px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 756px));
}
.footer__section {
  display: grid;
  gap: 62px;
  row-gap: 18px;
  grid-template-columns: repeat(2, minmax(min-content, 756px));
}
.footer__block {
  font-style: normal;
}
.footer__block_right {
  display: grid;
  margin-left: auto;
}
.footer__block_address {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__title {
  padding-bottom: 38px;
}
.footer__subtitle {
  padding-bottom: 22px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__contacts {
  margin: 28px 0 0 -2px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  letter-spacing: 0.32px;
}
.footer__contacts a {
  color: #ffffff;
  margin-left: 8px;
}
.footer__download {
  display: grid;
  max-width: 320px;
  margin: 15px 2px 0 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.footer__download img {
  grid-row: auto/span 2;
}
.footer__subscribe {
  grid-column: auto/span 2;
  display: flex;
  flex-direction: column;
}
.footer__follow {
  grid-column: auto/span 2;
  margin: auto 4px 0 0;
  gap: 10px;
}
.footer__follow a {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  overflow: hidden;
}
.footer .subscribe__container {
  width: 672px;
  flex: 0 1 auto;
  height: 46px;
}
.footer .subscribe__form {
  display: flex;
  height: 100%;
  font-size: 30px;
  background: #4f4f4f;
}
.footer .subscribe__form:hover,
.footer .subscribe__form :focus {
  background: #e0e0e0;
}
.footer .subscribe__input {
  width: 100%;
  padding-left: 38px;
  font-size: 14px;
  line-height: 46px;
  background: none;
}
.footer .subscribe__btn {
  width: 214px;
  font-size: 14px;
  line-height: 46px;
}

.actions {
  display: flex;
  gap: 18px;
  margin-left: 26px;
  padding-right: 2px;
}
.actions__action {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}
.actions__action:hover img {
  transform: translateY(2px);
  transition: 0.3s;
}
.actions__action:active img {
  transform: scale(0.8);
}
.actions__cart-quantity {
  position: absolute;
  top: 4px;
  right: 0;
  width: 21px;
  height: 15px;
  background: #f66;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}
.actions__img {
  width: 20px;
  height: 20px;
}
.actions__title {
  margin-top: 6px;
}

.animated-link {
  position: relative;
}
.animated-link::after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.animated-link:hover::after {
  width: 100%;
  left: 0;
}

.container {
  margin: 0 auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location__city {
  width: 140px;
  height: 100%;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  line-height: 27px;
}
.location__city img {
  padding-top: 7px;
  margin-right: 8px;
  height: 18px;
  width: 15px;
}
.location__shops {
  width: 150px;
  margin-left: 27px;
}
.location__shops a {
  text-decoration: underline;
}
.location__contacts {
  display: flex;
  gap: 18px;
  margin-left: 18px;
}
.location__contacts a {
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
}

.btn {
  cursor: pointer;
}
.btn__black {
  background-color: #000000;
}
.btn__header {
  display: flex;
  justify-content: center;
  width: 172px;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  padding: 0 8px;
  margin-left: 8px;
}
.btn__grey {
  background-color: #333333;
  color: #ffffff;
}
.btn__grey:hover,
.btn__grey :focus {
  background: #bdbdbd;
  color: #333333;
}
.btn__dark {
  font-size: 14px;
  font-weight: 600;
  background-color: #0c1111;
  color: #ffffff;
  transition: 0.3s;
}
.btn__dark:hover {
  background-color: #27ae60;
  color: #0c1111;
}
.btn__adaptive {
  display: flex;
  width: 100%;
  height: 52px;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.btn__red {
  background-color: #eb5757;
  color: #f2f2f2;
}
.btn__download {
  width: 165px;
  height: 50px;
}

.card {
  background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
}
.card__sec2 {
  padding: 26px 47px 25px 55px;
  background: linear-gradient(270deg, #e2e6eb 0%, #f3f1f5 69.93%);
}
.card__help {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__help h2 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.24px;
}
.card__help_img {
  position: absolute;
  top: -25px;
  left: 88px;
}
.card__paid {
  position: relative;
  padding-top: 39px;
}
.card__paid h2 {
  margin-left: -3px;
}
.card__paid-img {
  position: absolute;
  top: -38px;
  right: 10px;
}
.card__paid-link a {
  color: #0c1111;
}
.card__return {
  padding-top: 33px;
}
.card__return_img {
  position: relative;
}
.card__adaptive {
  display: grid;
  align-items: end;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card__btn-warranty img {
  padding-left: 24px;
}
.card__horisontal {
  grid-template-columns: repeat(2, 1fr);
}
.card__img {
  position: relative;
  max-width: 337px;
  height: 87px;
  margin-right: 15px;
}
.card__img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 0;
}
.card__info {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
}
.card__info p {
  margin: 4px 0 16px;
}
.card__orange {
  background: linear-gradient(90deg, #ff8c00 0%, #ffbd00 100%);
  color: #ffffff;
}
.card__bonus {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.card__bonus_img-box {
  display: none;
  position: relative;
}
.card__bonus_img-1, .card__bonus_img-2, .card__bonus_img-3, .card__bonus_img-4 {
  position: absolute;
  z-index: 0;
}
.card__bonus_img-main {
  display: flex;
  margin-left: auto;
  position: relative;
  top: -16px;
  right: 43px;
}
.card__bonus_img-1 {
  top: 18px;
  right: -18px;
}
.card__bonus_img-2 {
  top: 53px;
  right: 183px;
}
.card__bonus_img-3 {
  right: 211px;
  top: -47px;
}
.card__bonus_img-4 {
  right: 3px;
  top: 46px;
}
.main {
  flex: 1 1 auto;
  background-color: #ffffff;
}
.main__navigation {
  display: flex;
}
.main__navigations {
  margin: 18px 5px 0;
  display: flex;
  font-size: 12px;
}
.main__navigation-item .active {
  color: #bdbdbd;
}
.main__navigation-item a {
  color: #0c1111;
}
.main__navigation-item a:active {
  color: #bdbdbd;
}
.main__navigation-item span {
  padding: 0 2px 0 6px;
}
.main__title {
  margin: 32px 0 54px 0;
  padding-left: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  line-height: 20px;
}
.main__title h2 {
  font-weight: 600;
  line-height: 28px;
  flex: 1 0 auto;
}
.main__title p {
  font-size: 14px;
  margin-right: 27px;
  letter-spacing: 0.14px;
}
.main__title h3 {
  font-weight: 600;
  margin-right: 25px;
  letter-spacing: 0.24px;
}
.main__title_contacts {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  align-items: baseline;
}
.main__section {
  display: grid;
  gap: 16px;
}
.main__section_cards {
  margin: 24px 0px 28px 0;
}
.main__section_1 {
  grid-template-columns: repeat(2, 1fr);
}
.main__list {
  padding-left: 26px;
}
.main__list_item {
  position: relative;
}
.main__list_item::before {
  content: "•";
  position: absolute;
  left: -16px;
}
.main__info {
  max-width: 1180px;
}
.main__info_how-to {
  margin-top: 36px;
}
.main__info_how-to h2 {
  margin-bottom: 28px;
}
.main__info_description span {
  display: initial;
}
.main__info_description p {
  margin: 16px 0;
}
.main__info_section {
  line-height: 24px;
  margin-bottom: 50px;
}
.main__info_feedback h2 {
  margin-bottom: 28px;
}

.menu {
  overflow: auto;
  display: none;
  flex-direction: column;
  overflow: auto;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}
.menu__location-mobile {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #333333;
  padding: 30px 33px 22px 22px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  letter-spacing: 0.32px;
}
.menu__location-mobile_city {
  height: 20px;
  overflow: hidden;
}
.menu__location-mobile_link {
  position: relative;
  white-space: nowrap;
  color: #ffffff;
  margin-left: 8px;
}
.menu__location-mobile_link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  color: #ffffff;
  left: 0;
  bottom: 0;
  z-index: 101;
}
.menu__tabs-selector-mobile {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  height: 41px;
  width: 400px;
  border: 4px solid #f2f3f5;
  margin: 28px 0 24px;
  background-color: #f2f3f5;
}
.menu__tabs-selector-mobile_container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: center;
}
.menu__tabs-selector-mobile_btn {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}
.menu__tabs-selector-mobile_toggle {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 99;
  transition: 0.3s transform ease;
  transform: translateX(0);
}
.menu__tabs-selector-mobile_toggle-to-brands {
  transform: translateX(100%);
}
.menu__navigations {
  display: flex;
  width: 100%;
  margin-bottom: 44px;
}
.menu__container {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.menu__categories {
  width: 100%;
}
.menu__categories_items {
  display: grid;
}
.menu__categories_item {
  display: flex;
  height: 70px;
  width: 100%;
  margin: auto 0;
}
.menu__categories_link {
  display: flex;
  width: 100%;
  align-items: center;
  color: #333333;
}
.menu__categories_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 4px;
  margin-right: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}
.menu__brands {
  display: none;
}
.menu__subcategories {
  display: none;
  width: 100%;
}
.menu__subcategories_item {
  width: 100%;
}
.menu__subcategories_title {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
}
.menu__subcategories_title a {
  color: #0c1111;
  margin-bottom: 7px;
  transition: 0.3s;
}
.menu__subcategories_title a:hover {
  color: #f66;
}
.menu__subcategories_titlep {
  overflow: hidden;
  white-space: break-spaces;
  width: 220px;
}
.menu__subcategories_title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #f2f3f5;
}
.menu__subcategories_img {
  width: 50px;
  height: 50px;
  background-color: #f2f3f5;
  padding: 4px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 7px;
}
.menu__subcategories_types {
  margin: 15px 0 22px;
}
.menu__subcategories_type {
  margin-bottom: 16px;
}
.menu__subcategories_link {
  color: #0c1111;
  transition: 0.3s;
}
.menu__subcategories_link:hover {
  color: #f66;
}
.menu__open {
  display: flex;
}

.border {
  border-radius: 10px;
  overflow: hidden;
}
.border__small {
  border-radius: 7px;
  overflow: hidden;
}
.border__large {
  border-radius: 20px;
}

.right {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.mobile__actions {
  display: flex;
  margin-right: -18px;
}
.mobile__action {
  height: 44px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile__card_help {
  margin-bottom: 12px;
}
.mobile__card_help h2 {
  padding-right: 50px;
  line-height: 26px;
  margin-bottom: 8px;
}
.mobile__card_help p {
  letter-spacing: 0.16px;
  margin-bottom: 19px;
}
.mobile__card_help button {
  font-size: 14px;
}
.mobile__card_bonus {
  font-size: 14px;
  line-height: 14px;
  grid-template-columns: 1fr;
  letter-spacing: 0.3px;
}
.mobile__card_bonus h2 {
  margin: 2px 0 10px;
}
.mobile__card_bonus ul {
  line-height: normal;
}
.mobile__card_paid {
  margin-top: 12px;
}
.mobile__card_paid h2 {
  margin-bottom: 16px;
}
.mobile__card_paid-links li {
  position: relative;
}
.mobile__search {
  margin-left: 32px;
  background-color: rgba(0, 0, 0, 0);
}
.mobile__footer_help {
  margin-top: 38px;
  padding-bottom: 16px !important;
  border-bottom: 1px solid #333333;
}
.mobile__footer_help h4 {
  font-size: 20px;
  font-weight: 700;
  padding-left: 2px;
  margin-bottom: 18px;
}
.mobile__footer_help ul {
  padding-bottom: 16px;
}
.mobile__footer_navigations {
  margin-top: 14px;
}
.mobile__footer_navigations li {
  height: 48px;
}
.mobile__delivery_title {
  margin-bottom: 36px;
}
.mobile__download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 16px 30px;
  margin-top: 100px;
  background-color: #333333;
}
.mobile__download h4 {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 26px;
}
.mobile__download_btns {
  display: flex;
  gap: 12px;
  justify-content: center;
  height: 43px;
}
.mobile__download_btn {
  max-width: 200px;
  flex: 1 1 auto;
  height: 100%;
}
.mobile__location {
  margin-top: 20px;
}
.mobile__location a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: underline;
  line-height: 24px;
  color: #f2f2f2;
  padding-left: 4px;
}
.mobile__contacts {
  margin: 18px 0 0 3px;
}
.mobile__contacts h5 {
  letter-spacing: 0.32px;
  margin-bottom: 30px;
}
.mobile__contacts_btn {
  font-size: 14px;
  margin-top: 24px;
  height: 50px !important;
}
.mobile__link {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.mobile__link li::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ececec;
}
.mobile__link_img {
  margin-right: 16px;
}
.mobile__link_br {
  border-bottom: 2px solid #333333;
}
.mobile__subscribe {
  display: flex;
  margin-top: 26px;
}
.mobile__subscribe p {
  font-size: 14px;
}
.mobile__subscribe_form {
  position: relative;
  display: flex;
  margin: 13px 0 16px;
  width: 100%;
  height: 37px;
  border: 1px solid #4f4f4f;
  background-color: rgba(0, 0, 0, 0);
}
.mobile__subscribe_form:hover {
  background-color: #e0e0e0;
}
.mobile__subscribe_input {
  width: 100%;
  padding: 0 24px;
  background-color: rgba(0, 0, 0, 0);
}
.mobile__subscribe_btn {
  position: absolute;
  right: 0;
  width: 60px;
  height: 100%;
  background: #828282 url(../img/Icons/arrow-black.svg) no-repeat center center;
}
.mobile__subscribe_btn:hover {
  background-color: #fff;
}
.mobile__warranty {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  margin-bottom: 36px;
}
.mobile__warranty h2 {
  letter-spacing: 0.26px;
  margin-bottom: 19px;
}
.mobile__warranty p {
  line-height: 24px;
  margin-bottom: 24px;
}

.mobile-plus {
  display: flex;
}

.tablet,
.laptop-s,
.laptop-m,
.laptop-l {
  display: none;
}

@media screen and (max-width: 599px) {
  .actions {
    margin: 0px -2px;
  }
  .container {
    padding: 0 20px;
  }
  .header__basic {
    background-color: #000000;
  }
  .header__burger span {
    background-color: #ffffff;
  }
  .header__burger span::after, .header__burger span::before {
    background-color: #ffffff;
  }
  .mobile {
    display: inherit;
  }
  .order-1 {
    order: -1;
  }
  .svg-color {
    color: #ffffff;
  }
  .card__delivery_title {
    position: absolute;
    top: -199px;
    left: -30px;
  }
}
@media screen and (min-width: 600px) {
  .tablet {
    display: inherit;
  }
  .container {
    padding: 0 24px;
  }
  .card__bonus_img-box {
    display: block;
    position: relative;
  }
  .svg-color {
    color: #0c1111;
  }
}
@media screen and (max-width: 767px) {
  .header__basic {
    height: 44px;
  }
  .header__logo {
    width: 120px;
    height: 25px;
  }
  .header__top {
    display: none;
  }
  .card__adaptive {
    gap: 0 !important;
  }
  .card__help h2 {
    margin-right: 26px;
  }
  .card__info h2 {
    line-height: 26px;
  }
  .card__orange {
    order: 2;
    color: #ffffff;
    padding: 21px 23px 32px;
  }
  .card__orange ul {
    padding: 10px 0 0 16px;
    font-size: 14px;
    line-height: normal;
  }
  .card__orange h2 {
    font-size: 20px;
  }
  .card__orange p {
    font-size: 14px;
  }
  .card__paid {
    padding-top: 12px;
    order: 3;
  }
  .card__paid h2 {
    margin-bottom: 16px;
  }
  .card__delivery {
    margin-top: 94px;
  }
  .card__delivery p {
    margin: 8px 0 16px;
  }
  .card__delivery_img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 87px;
    margin-right: 15px;
  }
  .card__delivery_img img {
    position: absolute;
    max-width: 100%;
    bottom: 0;
  }
  .menu__subcategories {
    display: none !important;
  }
  .menu__brands {
    display: none;
    width: 100%;
  }
  .menu__brands_item {
    height: 70px;
    width: 100%;
  }
  .menu__brands_link {
    display: flex;
    align-items: center;
    width: 100%;
    color: #333333;
  }
  .menu__brands_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 4px;
    margin-right: 22px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main__info_section {
    margin-bottom: 36px;
  }
  .main__title {
    padding-left: 0;
    margin-bottom: 26px;
  }
  .main__title p {
    font-size: 16px;
  }
  .main__title h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .main__section {
    gap: 20px;
  }
  .main .order {
    order: 1;
  }
  .mobile {
    display: inherit;
  }
  .tablet-plus {
    display: none;
  }
  .main__section_cards {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 768px) {
  .card__info {
    font-size: 14px;
  }
  .card__paid {
    padding-top: 24px !important;
  }
  .card__sec1 {
    background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
    padding: 0 49px 25px 49px;
  }
  .header__panel {
    height: 60px;
  }
  .header__basic {
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 2px 15px #f2f2f2;
  }
  .menu__navigations {
    margin-bottom: 129px;
    gap: 50px;
  }
  .menu__container {
    display: flex !important;
  }
  .menu__categories_item-active {
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  .menu__categories_item-active a {
    transition: 0.3s;
    color: #f66;
  }
  .mobile {
    display: none;
  }
  .mobile__cart {
    display: none;
  }
  .mobile__search {
    display: none;
  }
  .tablet-plus {
    display: inherit;
  }
  .main__section_cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 1023px) {
  .laptop-s-plus {
    display: none;
  }
  .card__help {
    background: none;
  }
  .card__paid-link {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .card__paid-link_img {
    display: flex;
    height: 18px;
    width: 18px;
    margin-right: 18px;
  }
  .card__paid-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ececec;
  }
  .card__paid-links {
    display: flex;
    flex-direction: column;
    padding: 0 2px;
  }
  .card__delivery {
    order: 1;
    padding: 30px;
  }
  .footer__copyright {
    border-top: 1px solid #333333;
    padding: 36px 0;
  }
  .footer__copyright_box {
    display: flex;
    margin: 0 -4px;
  }
  .footer__copyright_text {
    width: 60%;
    font-size: 12px;
    color: #f2f2f2;
    line-height: 16px;
  }
  .footer__copyright_right {
    align-items: center;
    padding: 0 22px 14px 0;
  }
  .menu__subcategories_types {
    display: none;
  }
  .main__section_cards {
    margin: 21px 0px 28px 0;
  }
  .mobile__card_return {
    margin: 56px 0 55px;
    background: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
    border-radius: 20px;
    padding: 0 24px 32px 15px;
  }
  .mobile__card_return p {
    margin-bottom: -12px;
  }
  .mobile__card_return-img {
    position: relative;
    transform: translateX(-62%);
    top: -28px;
    left: 50%;
    margin-bottom: -16px;
  }
}
@media screen and (min-width: 1024px) {
  .btn__fix {
    height: 50px;
    width: 216px;
    margin: 0;
  }
  .card__bonus h2 {
    margin: 13px 0 12px 2px;
  }
  .card__bonus ul {
    line-height: normal;
  }
  .card__help, .card__paid {
    grid-row: auto/span 2;
  }
  .card__help p {
    margin-top: 12px;
  }
  .card__paid {
    padding-top: 40px !important;
  }
  .card__paid-link {
    margin-left: -3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.14px;
    text-decoration: underline;
  }
  .card__paid-link a {
    color: #333333;
  }
  .card__paid-links {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .card__return p {
    margin: 18px 0 25px;
  }
  .card__return_img {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    order: -1;
    height: 100%;
  }
  .card__warranty_img {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    height: 100%;
  }
  .card__warranty button {
    margin: auto 0 auto auto;
    max-width: 266px;
    margin-bottom: 28px;
  }
  .card__warranty p {
    margin-top: 10px;
  }
  .card__delivery {
    padding: 27px 47px 25px 55px;
    justify-items: center;
  }
  .card__delivery_img {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    order: -1;
  }
  .card__delivery_img img {
    position: absolute;
    max-height: 185px;
    top: -6px;
    max-width: 337px;
  }
  .card__delivery p {
    margin: 18px 0 25px;
  }
  .header__burger {
    display: flex;
    order: 0;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 40px;
    margin-left: 83px;
    margin-right: 0;
    font-weight: 700;
    transition: 0.5s ease;
    background-color: #0c1111;
    border-radius: 10px;
    color: #ffffff;
  }
  .header__burger_close:hover {
    background-color: #f66;
    color: #0c1111;
  }
  .header__burger_close:hover span::before,
  .header__burger_close:hover span::after {
    padding-left: 2px;
    background-color: #0c1111 !important;
  }
  .header__burger_close span::before,
  .header__burger_close span::after {
    padding-left: 2px;
    background-color: #f84445 !important;
  }
  .header__burger_close span::after {
    transform: rotate(135deg);
    bottom: 4px !important;
  }
  .header__burger_close span::before {
    transform: rotate(-135deg);
    top: 3px;
  }
  .header__burger span {
    position: relative;
    width: 10px;
    height: 9px;
    margin-right: 8px;
  }
  .header__burger span::before,
  .header__burger span::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    left: -5px;
    transition: 0.3s;
    border-radius: 100%;
    background-color: #ffffff;
  }
  .header__burger span::after {
    bottom: 0;
  }
  .header__burger:active span::before {
    transform: translateY(3px);
  }
  .header__burger:active span::after {
    transform: translateY(3px);
    transition-delay: 150ms;
  }
  .footer__block_right {
    grid-column: auto/span 2;
    margin: 0;
  }
  .footer__blocks {
    grid-template-columns: minmax(672px, 756px) minmax(250px, 358px);
  }
  .footer__copyright {
    border-top: 1px solid #333333;
    padding: 18px 0 20px;
  }
  .footer__copyright p {
    line-height: 16px;
    font-size: 14px;
    color: #828282;
    margin-bottom: 4px;
  }
  .menu {
    overflow: hidden;
    font-size: 14px;
  }
  .menu__navigations {
    height: 100%;
    padding-top: 33px !important;
    margin-bottom: 129px;
    gap: 0;
  }
  .menu__container {
    flex: none;
    overflow: auto;
    width: 321px;
    margin-bottom: 129px;
  }
  .menu__categories {
    width: 308px;
  }
  .menu__categories_items {
    padding-bottom: 114px;
  }
  .menu__categories_item {
    position: relative;
    height: 55px;
    padding: 0 18px 0 8px;
    margin-left: -6px;
    transition: 0.3s;
  }
  .menu__categories_item::after {
    content: "";
    position: absolute;
    width: 286px;
    height: 1px;
    background-color: #f5f5f5;
    left: 6px;
    bottom: 0;
  }
  .menu__categories_img {
    width: 40px;
    height: 40px;
  }
  .menu__subcategories {
    display: none;
    height: auto !important;
    overflow: auto;
    width: 100%;
    padding-left: 34px;
    margin-bottom: 129px;
  }
  .menu__subcategories_item {
    width: 313px;
  }
  .menu__subcategories_title {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 44px;
    font-weight: 700;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }
  .menu__subcategories_title a {
    color: #0c1111;
    margin-bottom: 7px;
    transition: 0.3s;
  }
  .menu__subcategories_title a:hover {
    color: #f66;
  }
  .menu__subcategories_titlep {
    overflow: hidden;
    white-space: break-spaces;
    width: 220px;
  }
  .menu__subcategories_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #f2f3f5;
  }
  .menu__subcategories_img {
    width: 52px;
    height: 40px;
    background-color: #f2f3f5;
    padding: 4px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 7px;
  }
  .menu__subcategories_types {
    margin: 15px 0 22px;
  }
  .menu__subcategories_type {
    margin-bottom: 16px;
  }
  .menu__subcategories_link {
    color: #0c1111;
    transition: 0.3s;
  }
  .menu__subcategories_link:hover {
    color: #f66;
  }
  .menu__brands {
    display: block !important;
    overflow: auto;
    margin: 17px 0 0 60px;
    padding: 0 4px 129px 0;
    flex: none;
  }
  .menu__brands_items {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .menu__brands_item {
    width: 120px;
    height: 120px;
  }
  .menu__brands_link {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .menu__brands_img {
    width: 100%;
    border-radius: 10px;
    background-color: #f2f3f5;
    padding: 4px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .menu__brands {
    display: block;
    overflow: auto;
    margin: 0 0 0 26px;
    padding: 0 4px 129px 0;
    flex: none;
  }
  .menu__brands_items {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-bottom: 129px;
  }
  .menu__brands_item {
    width: 120px;
    height: 120px;
  }
  .menu__brands_link {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .menu__brands_img {
    width: 100%;
    border-radius: 10px;
    background-color: #f2f3f5;
    padding: 4px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main__section_cards {
    padding-right: 8px;
  }
  .main__info_section h2 {
    margin-bottom: 28px;
  }
  .mobile__footer {
    display: none;
  }
  .mobile-plus {
    display: none;
  }
  .laptop-s-plus {
    display: inherit;
  }
  .tablet {
    display: none;
  }
  .laptop-s {
    display: inherit;
  }
  .container {
    max-width: 1744px;
    padding: 0 32px;
  }
  .main__section_cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 1279px) {
  .laptop-m-plus {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .laptop-m-plus {
    display: inherit;
  }
  .laptop-s {
    display: none;
  }
  .laptop-m {
    display: inherit;
  }
}
@media screen and (max-width: 1439px) {
  .laptop-l-plus {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .laptop-l-plus {
    display: inherit;
  }
  .laptop-m {
    display: none;
  }
  .laptop-l {
    display: inherit;
  }
  .container {
    max-width: 1744px;
    padding: 0 32px;
  }
  .card__x2 {
    grid-column: auto/span 2;
  }
  .card__return_img {
    order: 0;
  }
  .card__return_img img {
    position: absolute;
    top: -17px;
    left: 48px;
  }
  .card__delivery_img {
    order: 0;
  }
  .menu__brands {
    margin: 17px 0 0 60px;
  }
  .footer__download {
    margin: 15px 2px 0 auto;
  }
  .footer__block_right {
    grid-column: auto;
    margin: 0 0 0 auto;
  }
  .footer__blocks {
    grid-template-columns: minmax(617px, 756px) minmax(299px, 358px) minmax(256px, 360px);
  }
  .main__section_cards {
    grid-template-columns: repeat(2, minmax(370px, 431px)) minmax(630px, 1fr);
    grid-template-rows: 173px 136px 1fr;
  }
}