@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=PT+Sans:wght@700&family=Roboto&display=swap");

$black: #000000;
$dark: #0c1111;
$darkGrey: #333333;
$grey: #e0e0e0;
$white: #ffffff;
$red: #f66;
$green: #27ae60;
$gradientGrey: linear-gradient(90deg, #e2e6eb 0%, #f3f1f5 69.93%);
$gradientOrange: linear-gradient(90deg, #ff8c00 0%, #ffbd00 100%);
h1 {
	display: none;
}

h2 {
	font-size: 26px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 700;
}

h4 {
	font-size: 18px;
	font-weight: 700;
}

h5 {
}

h6 {
}

body {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

@import "header.scss";
@import "footer.scss";

.actions {
	display: flex;
	gap: 18px;
	margin-left: 26px;
	padding: 8px 2px 0 0;

	&__action {
		cursor: pointer;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__cart-quantity {
		position: absolute;
		top: -5px;
		right: 0;
		width: 21px;
		height: 15px;
		background: #f66;
		font-size: 13px;
		color: $white;
		text-align: center;
	}
	&__img {
		width: 20px;
		height: 20px;
	}

	&__title {
		margin-top: 6px;
	}
}
.animated-link {
	position: relative;
	&::after {
		bottom: 0;
		content: "";
		display: block;
		height: 1px;
		left: 50%;
		position: absolute;
		background: #fff;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}
	&:hover::after {
		width: 100%;
		left: 0;
	}
}
.container {
	margin: 0 auto;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.location {
	&__city {
		width: 140px;
		height: 100%;
		display: flex;
		white-space: nowrap;
		overflow: hidden;
		justify-content: space-between;
		line-height: 27px;
		& img {
			padding-top: 7px;
			margin-right: 8px;
			height: 18px;
			width: 15px;
		}
	}

	&__shops {
		width: 150px;
		margin-left: 27px;
		& a {
			text-decoration: underline;
		}
	}

	&__contacts {
		display: flex;
		gap: 18px;
		margin-left: 18px;
		& a {
			font-size: 14px;
			font-weight: 800;
			color: $white;
		}
	}
}
.btn {
	cursor: pointer;
	&__black {
		background-color: $black;
	}
	&__header {
		display: flex;
		justify-content: center;
		width: 172px;
		height: 26px;
		font-size: 12px;
		line-height: 26px;
		padding: 0 8px;
		margin-left: 8px;
	}
	&__grey {
		background-color: $darkGrey;
		color: $white;
		&:hover,
		:focus {
			background: #bdbdbd;
			color: $darkGrey;
		}
	}
	&__dark {
		font-size: 14px;
		font-weight: 600;
		background-color: $dark;
		color: $white;
		transition: 0.3s;
		&:hover {
			background-color: $green;
			color: $dark;
		}
	}

	&__adaptive {
		display: flex;
		width: 100%;
		height: 52px;
		max-width: 400px;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
	}
	&__red {
		background-color: #eb5757;
		color: #f2f2f2;
	}
	&__download {
		width: 165px;
		height: 50px;
	}
}
.card {
	background: $gradientGrey;

	&__sec2 {
		padding: 26px 47px 25px 55px;
		background: linear-gradient(270deg, #e2e6eb 0%, #f3f1f5 69.93%);
	}

	&__help {
		display: flex;
		flex-direction: column;

		position: relative;
		& h2 {
			font-weight: 700;
			font-size: 24px;
			letter-spacing: 0.24px;
		}
		&_img {
			position: absolute;
			top: -25px;
			left: 88px;
		}
	}

	&__paid {
		position: relative;
		padding-top: 39px;

		& h2 {
			margin-left: -3px;
		}
	}
	&__paid-img {
		position: absolute;
		top: -38px;
		right: 10px;
	}
	&__paid-links {
	}
	&__paid-link {
		& a {
			color: $dark;
		}
	}
	&__return {
		padding-top: 33px;
		&_img {
			position: relative;
		}
	}

	&__adaptive {
		display: grid;
		align-items: end;
		height: 100%;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	&__btn-warranty {
		& img {
			padding-left: 24px;
		}
	}
	&__horisontal {
		grid-template-columns: repeat(2, 1fr);
	}
	&__img {
		position: relative;
		max-width: 337px;
		height: 87px;
		margin-right: 15px;
		& img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			bottom: 0;
		}
	}
	&__info {
		position: relative;
		font-size: 16px;
		line-height: 24px;
		z-index: 1;
		& p {
			margin: 4px 0 16px;
		}
	}

	&__orange {
		background: $gradientOrange;
		color: $white;
	}
	&__bonus {
		display: grid;
		grid-template-columns: max-content 1fr;

		&_img-box {
			display: none;
			position: relative;
		}

		&_img-1,
		&_img-2,
		&_img-3,
		&_img-4 {
			position: absolute;
			z-index: 0;
		}
		&_img-main {
			display: flex;
			margin-left: auto;
			position: relative;
			top: -16px;
			right: 43px;
		}
		&_img-1 {
			top: 18px;
			right: -18px;
		}
		&_img-2 {
			top: 53px;
			right: 183px;
		}
		&_img-3 {
			right: 211px;
			top: -47px;
		}
		&_img-4 {
			right: 3px;
			top: 46px;
		}
	}

	&__warranty {
	}
}
.main {
	flex: 1 1 auto;
	background-color: $white;
	&__navigation {
		display: flex;
	}
	&__navigations {
		margin: 18px 5px 0;
		display: flex;
		font-size: 12px;
	}
	&__navigation-item {
		.active {
			color: #bdbdbd;
		}
		& a {
			color: $dark;
			&:active {
				color: #bdbdbd;
			}
		}
		& span {
			padding: 0 2px 0 6px;
		}
	}
	&__title {
		margin: 32px 0 54px 0;
		padding-left: 6px;
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		line-height: 20px;
		& h2 {
			font-weight: 600;
			line-height: 28px;
			flex: 1 0 auto;
		}
		& p {
			font-size: 14px;
			margin-right: 27px;
			letter-spacing: 0.14px;
		}
		& h3 {
			font-weight: 600;
			margin-right: 25px;
			letter-spacing: 0.24px;
			// Есть изменения типографии для мобильной версии.
			// Смотри @media screen and (max-width: 767px)
		}
		&_contacts {
			display: flex;
			gap: 13px;
			flex-wrap: wrap;
			align-items: baseline;
		}
	}
	&__section {
		display: grid;
		gap: 16px;

		&_cards {
			margin: 24px 0px 28px 0;
		}
		&_1 {
			grid-template-columns: repeat(2, 1fr);
		}
		&_2 {
		}
	}

	&__list {
		padding-left: 26px;

		&_item {
			position: relative;
			&::before {
				content: "\2022";
				position: absolute;
				left: -16px;
				// &::before {
				// 	content: "\2022";
				// 	position: relative;
				// 	margin-right: 4px;
				// }
			}
		}
	}

	&__info {
		max-width: 1180px;
		&_how-to {
			margin-top: 36px;
			& h2 {
				margin-bottom: 28px;
			}
		}
		&_description {
			& h2 {
			}
		}
		&_return {
		}
		&_section {
			line-height: 24px;
			margin-bottom: 50px;
		}
		&_feedback {
			& h2 {
				margin-bottom: 28px;
			}
		}
	}
}

.border {
	border-radius: 10px;
	overflow: hidden;
	&__small {
		border-radius: 7px;
		overflow: hidden;
	}
	&__large {
		border-radius: 20px;
	}
}
.right {
	display: flex;
	align-items: baseline;
	margin-left: auto;
}
.mobile {
	&__burger {
		display: flex;
		align-items: center;
		width: 32px;
		height: 22px;
		margin-right: 32px;
		flex: none;
		position: relative;
		background-color: #ffffff00;

		&:active span::before {
			transform: translateY(5px);
		}
		&:active span::after {
			transform: translateY(-5px);
		}
		& span,
		span::before,
		span::after {
			width: 100%;
			height: 3px;
			background-color: $black;
			border-radius: 2px;
			transition: 0.3s;
		}

		& span::before,
		span::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
		}
		& span::before {
			top: 0;
		}
		& span::after {
			bottom: 0;
		}
	}
	&__card {
		&_help {
			margin-bottom: 12px;
			& h2 {
				padding-right: 50px;
				line-height: 26px;
				margin-bottom: 8px;
			}
			& p {
				letter-spacing: 0.16px;
				margin-bottom: 19px;
			}
			& button {
				font-size: 14px;
			}
		}

		&_bonus {
			font-size: 14px;
			line-height: 14px;
			grid-template-columns: 1fr;
			letter-spacing: 0.3px;
			& h2 {
				margin: 2px 0 10px;
			}
			& ul {
				line-height: normal;
			}
		}
		&_paid {
			margin-top: 12px;
			//margin-bottom: 34px;
			& h2 {
				margin-bottom: 16px;
			}
		}
		&_paid-links {
			& li {
				position: relative;
			}
		}
		&_return {
		}
		&_return-img {
		}
	}
	&__cart {
		margin-right: 16px;
		color: $white;
		& span {
			top: -8px;
			left: 50%;
		}
	}
	&__search {
		margin-right: 10px;
		background-color: rgba(0, 0, 0, 0);
	}

	&__footer {
		&_help {
			margin-top: 38px;
			padding-bottom: 16px !important;
			border-bottom: 1px solid $darkGrey;

			& h4 {
				font-size: 20px;
				font-weight: 700;
				padding-left: 2px;
				margin-bottom: 18px;
			}
			& ul {
				padding-bottom: 16px;
			}
		}
		&_navigations {
			margin-top: 14px;
			& li {
				height: 48px;
			}
		}
	}
	&__delivery_title {
		margin-bottom: 36px;
	}
	&__download {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding: 20px 16px 30px;
		margin-top: 100px;
		background-color: $darkGrey;
		& h4 {
			margin: 0 auto;
			font-family: "PT Sans", sans-serif;
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 26px;
		}
		&_btns {
			display: flex;
			gap: 12px;
			justify-content: center;
			height: 43px;
		}
		&_btn {
			max-width: 200px;
			flex: 1 1 auto;
			height: 100%;
		}
	}
	&__location {
		margin-top: 20px;
		& a {
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			text-decoration: underline;
			line-height: 24px;
			color: #f2f2f2;
			padding-left: 4px;
		}
	}
	&__contacts {
		margin: 18px 0 0 3px;
		& h5 {
			letter-spacing: 0.32px;
			margin-bottom: 30px;
		}
		&_btn {
			font-size: 14px;
			margin-top: 24px;
			height: 50px !important;
		}
	}
	&__links {
	}
	&__link {
		position: relative;
		height: 50px;
		display: flex;
		align-items: center;
		& li::after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: #ececec;
		}
		&_img {
			margin-right: 16px;
		}
		&_br {
			border-bottom: 2px solid $darkGrey;
		}
	}
	&__subscribe {
		display: flex;
		margin-top: 26px;
		& p {
			font-size: 14px;
		}
		&_form {
			position: relative;
			display: flex;
			margin: 13px 0 16px;
			width: 100%;
			height: 37px;
			border: 1px solid #4f4f4f;
			background-color: #00000000;
			&:hover {
				background-color: $grey;
			}
		}
		&_input {
			width: 100%;
			padding: 0 24px;
			background-color: #00000000;
		}
		&_btn {
			position: absolute;
			right: 0;
			width: 60px;
			height: 100%;
			background: #828282 url(../img/Icons/arrow-black.svg) no-repeat center center;
			&:hover {
				background-color: #fff;
			}
		}
	}

	&__copyright {
		border-top: 1px solid $darkGrey;
		padding: 36px 0;

		&_box {
			display: flex;
		}
		&_text {
			width: 60%;
			font-size: 12px;
			color: #f2f2f2;
			line-height: 16px;
		}
		&_right {
			align-items: center;
			padding: 0 22px 14px 0;
		}
	}
	&__warranty {
		display: flex;
		flex-direction: column;
		padding-left: 2px;
		margin-bottom: 36px;

		& h2 {
			letter-spacing: 0.26px;
			margin-bottom: 19px;
		}
		& p {
			line-height: 24px;
			margin-bottom: 24px;
		}
	}
}

.mobile-plus {
	display: flex;
}

.tablet,
.laptop-s,
.laptop-m,
.laptop-l {
	display: none;
}

@media screen and (max-width: 599px) {
	.actions {
		margin: 0px -2px;
	}
	.container {
		padding: 0 20px;
	}
	.header {
		&__basic {
			background-color: $black;
		}
	}
	.mobile {
		&__burger {
			& span {
				background-color: $white;
				&::after,
				&::before {
					background-color: $white;
				}
			}
		}
	}
	.order-1 {
		order: -1;
	}
	.svg-color {
		color: $white;
	}
	.card {
		&__delivery {
			&_title {
				position: absolute;
				top: -199px;
				left: -30px;
			}
		}
	}
}
@media screen and (min-width: 600px) {
	.tablet {
		display: inherit;
	}
	.container {
		padding: 0 24px;
	}
	.card__bonus_img-box {
		display: block;
		position: relative;
	}
	.svg-color {
		color: $dark;
	}
}
@media screen and (max-width: 767px) {
	.header {
		&__basic {
			height: 60px;
		}
		&__logo {
			width: 120px;
			height: 25px;
		}
		&__top {
			display: none;
		}
	}
	.card {
		&__adaptive {
			gap: 0 !important;
		}
		&__help {
			& h2 {
				margin-right: 26px;
			}
		}
		&__info {
			& h2 {
				line-height: 26px;
			}
			& p {
			}
		}
		&__orange {
			order: 2;
			color: $white;
			padding: 21px 23px 32px;
			& ul {
				padding: 10px 0 0 16px;
				font-size: 14px;
				line-height: normal;
			}
			& h2 {
				font-size: 20px;
			}
			& p {
				font-size: 14px;
			}
		}
		&__paid {
			padding-top: 12px;
			order: 3;
			& h2 {
				margin-bottom: 16px;
			}
		}
		&__delivery {
			margin-top: 94px;

			& p {
				margin: 8px 0 16px;
			}
		}
		&__delivery_img {
			position: relative;
			display: flex;
			justify-content: center;
			height: 87px;
			margin-right: 15px;
			& img {
				position: absolute;
				max-width: 100%;
				bottom: 0;
			}
		}
	}
	.main {
		&__info {
			&_section {
				margin-bottom: 36px;
			}
		}
		&__list {
		}
		&__title {
			padding-left: 0;
			margin-bottom: 26px;
			& p {
				font-size: 16px;
			}
			& h3 {
				font-family: "Montserrat", sans-serif;
				font-weight: 700;
			}
		}
		&__section {
			gap: 20px;
		}
		.order {
			order: 1;
		}
	}

	.tablet-plus {
		display: none;
	}
	.main__section_cards {
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
}
@media screen and (min-width: 768px) {
	.card {
		&__info {
			font-size: 14px;
			& h2 {
			}
		}
		&__paid {
			padding-top: 24px !important;
		}
		&__sec1 {
			background: $gradientGrey;
			padding: 0 49px 25px 49px;
		}
	}
	.mobile {
		display: none;
		&__cart {
			display: none;
		}
		&__search {
			display: none;
		}
	}
	.tablet-plus {
		display: inherit;
	}
	.main__section_cards {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}
@media screen and (max-width: 1023px) {
	.laptop-s-plus {
		display: none;
	}
	.card {
		&__help {
			background: none;
		}

		&__paid-link {
			position: relative;
			height: 50px;
			display: flex;
			align-items: center;

			&_img {
				display: flex;
				height: 18px;
				width: 18px;
				margin-right: 18px;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: #ececec;
			}
		}
		&__paid-links {
			display: flex;
			flex-direction: column;
			padding: 0 2px;
		}

		&__delivery {
			order: 1;
			padding: 30px;
		}
	}
	.main {
		&__section {
			&_cards {
				margin: 21px 0px 28px 0;
			}
		}
	}
	.mobile {
		&__card {
			&_return {
				margin: 56px 0 55px;
				background: $gradientGrey;
				border-radius: 20px;
				padding: 0 24px 32px 15px;
				& p {
					margin-bottom: -12px;
				}
			}
			&_return-img {
				position: relative;
				transform: translateX(-62%);
				top: -28px;
				left: 50%;
				margin-bottom: -16px;
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	.btn__fix {
		height: 50px;
		width: 216px;
		margin: 0;
	}
	.card {
		&__bonus {
			& h2 {
				margin: 13px 0 12px 2px;
			}
			& ul {
				line-height: normal;
			}
		}
		&__help,
		&__paid {
			grid-row: auto/span 2;
		}
		&__help {
			p {
				margin-top: 12px;
			}
		}
		&__paid {
			padding-top: 40px !important;
		}
		&__paid-link {
			margin-left: -3px;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			letter-spacing: 0.14px;
			text-decoration: underline;
			& a {
				color: $darkGrey;
			}
		}
		&__paid-links {
			margin-top: 32px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&__return {
			& p {
				margin: 18px 0 25px;
			}
			&_img {
				position: relative;
				display: flex;
				justify-content: center;
				margin-right: 15px;
				order: -1;
				height: 100%;
			}
		}
		&__warranty {
			&_img {
				position: relative;
				display: flex;
				justify-content: center;
				margin-right: 15px;
				height: 100%;
			}
			& button {
				margin: auto 0 auto auto;
				max-width: 266px;
				margin-bottom: 28px;
			}
			& p {
				margin-top: 10px;
			}
		}
		&__delivery {
			padding: 27px 47px 25px 55px;
			justify-items: center;
			&_img {
				position: relative;
				display: flex;
				justify-content: center;
				height: 100%;
				order: -1;
				& img {
					position: absolute;
					max-height: 185px;
					top: -6px;
					max-width: 337px;
				}
			}
			& h2 {
			}
			& p {
				margin: 18px 0 25px;
			}
		}
	}
	.main {
		&__section {
			&_cards {
				padding-right: 8px;
			}
		}
		&__info {
			&_section {
				& h2 {
					margin-bottom: 28px;
				}
			}
		}
	}
	.mobile__footer {
		display: none;
	}
	.mobile-plus {
		display: none;
	}
	.laptop-s-plus {
		display: inherit;
	}
	.tablet {
		display: none;
	}
	.laptop-s {
		display: inherit;
	}
	.container {
		max-width: 1744px;
		padding: 0 32px;
	}
	.main__section_cards {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}
@media screen and (max-width: 1279px) {
	.laptop-m-plus {
		display: none;
	}
}
@media screen and (min-width: 1280px) {
	.laptop-m-plus {
		display: inherit;
	}
	.laptop-s {
		display: none;
	}
	.laptop-m {
		display: inherit;
	}
}
@media screen and (max-width: 1439px) {
	.laptop-l-plus {
		display: none;
	}
}
@media screen and (min-width: 1440px) {
	.laptop-l-plus {
		display: inherit;
	}
	.laptop-m {
		display: none;
	}
	.laptop-l {
		display: inherit;
	}
	.container {
		max-width: 1744px;
		padding: 0 32px;
	}
	.card {
		&__x2 {
			grid-column: auto/span 2;
		}
		&__return {
			&_img {
				order: 0;
				& img {
					position: absolute;
					top: -17px;
					left: 48px;
				}
			}
		}
		&__delivery {
			&_img {
				order: 0;
			}
		}
	}
	.main__section_cards {
		grid-template-columns: repeat(2, minmax(370px, 431px)) minmax(630px, 1fr);
		grid-template-rows: 173px 136px 1fr;
	}
}
